{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="/static/css/materia.css">
{% endblock %}

{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}
    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="d-flex justify-content-between">
                        <h3 class="emain-title">Eventos</h3>
                        <div>
                            <a class="ebuttontiny" href="inscricoes.html">Inscrições</a>
                        </div>

                    </div>

                </div>
                <div class="col-md-4 mb-4">
                    <div class="materia-card">
                        <img class="materia-img mb-3" src="/static/media/logo-rosa-s.png" alt="logo-eduque">
                        <h5>25 de Jan - 02 de Fev</h5>
                        <h4>Marketing Digital</h4>
                        <p class="txt-e-black">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <div class="btn-box d-flex">
                            <a class="ebuttontiny" href="inscricao.html">Inscrever-se</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>
{% endblock %}