{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="{% static '/css/aula.css' %}">
{% endblock %}

{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}

    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color">
            <div class="row">
                <div class="mb-3">
                    <a class="elink-paginate mb-3" href="{% url 'listagem_aula' materia.id curso.id %}">Voltar para as aulas</a>
                    <h3 class="emain-title mb-3">{{aula.titulo}}</h3>
                    <p>{{aula.descricao}}</p>
                </div>

                <div class="aula-video text-center mb-5">
                    <iframe width="420" height="315" src="{{aula.link}}">
                    </iframe>
                </div>
                <div class="complementar-content ">
                    <h4 class="mb-3">Conteúdo Complementar</h4>
                    <div class="complementar-txt">
                        <!-- botar links aqui, se puder imprimir com quebra de linha era bom -->
                        <p>{{aula.conteudo}}</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>
{% endblock %}