{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="{% static '/css/materia.css' %}">
{% endblock %}

{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}

    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <a class="elink-paginate" href="{% url 'listagem_materia' %}">Voltar para as matérias</a>
                </div>
                <div class="col-md-12 mb-5">
                    <h3 class="emain-title">Cursos</h3>
                </div>
                {% for c in cursos %}
                <div class="col-md-4 mb-4">
                    <div class="materia-card">
                        <img class="materia-img mb-3" src="{{ c.imagem.url }}" alt="logo-eduque">
                        <h4>{{c.titulo}}</h4>
                        <p class="txt-e-black">{{c.descricao}}</p>
                        <a class="ebuttontiny" href="{% url 'listagem_aula' materia.id c.id %}">Iniciar</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>
{% endblock %}