{% extends 'shared/aluno_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_links %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}

    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color d-flex justify-content-center">
            <div class="login-box">
                <div class="text-center">
                    <img class="login-icon mb-3" src="{% static '/media/logo-rosa-c.png' %}" alt="logo-eduque">
                    <h3 class="mb-3">Perfil</h3>
                </div>

                <div class="login-input">
                    <!-- <form>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input class="form-control" id="nome" value="Teste da Silva">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" value="teste@gmail.com">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Confirme senha</label>
                            <input type="password" class="form-control" id="senha">
                        </div>
                        <div class="mb-3">
                            <label for="capa" class="form-label">Imagem de perfil</label><br>
                            <input type="file" id="capa" name="capa" accept="image/png, image/jpeg">
                        </div>

                        <button type="submit" class="btn-eduque btn-login btn-eduque-hover">Entrar</button>
                    </form> -->
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <button type="submit" class="btn-eduque btn-login btn-eduque-hover">Editar</button>
                    </form>
                </div>
            </div>

        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>

{% endblock %}