{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}
    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <a class="elink-paginate" href="{% url 'listagem_evento' %}">Voltar para os eventos</a>
                    <h3 class="emain-title">Inscrições</h3>

                </div>
                <div class="col-md-12 mb-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Data</th>
                                <th scope="col">Link de acesso</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Adicionar inscrições quando criar o modelo -->
                            {% for e in eventos %}
                            <tr>
                                <td>{{e.titulo}}</td>
                                <td>{{e.data}}.</td>
                                <td>{{e.link}}</td>
                                <td class="d-flex justify-content-center">
                                    <button type="button" class="btn" data-toggle="modal" data-target="#modal{{e.id}}">
                                        <img src="{% static '/media/trash.png' %}" alt="logo-eduque">
                                    </button>
                                </td>
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{e.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Exclusão</h5>
                                                <button type="button" class="btn close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você realmente deseja excluir "{{e.titulo}}"?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-eduque-normal"
                                                    data-dismiss="modal">Não</button>

                                                <!-- acho que precisa de form npe braia? -->
                                                <form action="">
                                                    <button type="button" class="btn ">Sim</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>
{% endblock %}