{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" href="{% static '/css/materia.css' %}">
{% endblock %}

{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}
    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="d-flex justify-content-between">
                        <h3 class="emain-title">Eventos</h3>
                    </div>
                </div>
                {% for e in eventos %}
                <div class="col-md-4 mb-4">
                    <div class="materia-card">
                        <img class="materia-img mb-3" src="{{e.imagem.url}}" alt="logo-eduque">
                        <h5>{{e.data}}</h5>
                        <h4>{{e.titulo}}</h4>
                        <p class="txt-e-black">{{e.descricao}}</p>
                        <div class="btn-box d-flex">
                            <a class="ebuttontiny" href="{% url 'detalhe_evento' e.id %}">Inscrever-se</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>
{% endblock %}