{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<link rel="stylesheet" href="{% static '/css/inscricao.css' %}">
{% endblock %}


{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}

    <section class="corpo-main">
        <section class="mains-padding bg-w-color">
            <a class="elink-paginate" href="{% url 'listagem_evento' %}">Voltar para os eventos</a>
            <h3 class="mb-4">{{evento.titulo}}</h3>
            <div class="row">
                <div class="col-4">
                    <img class="mb-5 capa_inscricao" src="{{evento.imagem.url}}" alt="logo-eduque">
                </div>
                <div class="col-8">
                    <p class="txt-inscricao">{{evento.descricao}}</p>
                </div>
            </div>
            <h5>{{evento.data}}</h5>
            <h5><b>Link de acesso:</b> {{evento.link}}</h5>

        </section>
        <section class="mains-padding main-section bg-w-color d-flex justify-content-center ">
            <div class="login-box ">

                <div class="login-input text-center">
                    {% if request.user not in evento.inscritos.all %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn-eduque btn-login btn-eduque-hover">Me inscrever</button>
                    </form>
                    {% else %}
                    <h3 class="inscrito-eduque">Inscrito!</h3>
                    {% endif %}
                </div>
            </div>

        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>
{% endblock %}