{% extends 'shared/aluno_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_links %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block content %}
<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}
    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color d-flex justify-content-center ">

            <div class="login-box ">
                <div class="login-paginate mb-5">
                    <a class="elink-paginate" href="{{request.META.HTTP_REFERER|escape}}">Voltar para os cursos</a>
                </div>
                <div class="text-center">
                    {% if 'cadastrar' in request.build_absolute_uri %}
                    <h3 class="mb-3">Cadastrar Curso</h3>
                    {% else %}
                    <h3 class="mb-3">Editar Curso</h3>
                    {% endif %}
                </div>

                <div class="login-input">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <!-- João, aqui é só um exemplo, faça um template desses por acão = aula_update, aula_delete... -->
                        <br>
                        {% if 'cadastrar' in request.build_absolute_uri %}
                        <button type="submit" class="btn-eduque btn-login btn-eduque-hover">Criar</button>
                        {% else %}
                        <button type="submit" class="btn-eduque btn-login btn-eduque-hover">Editar</button>
                        {% endif %}
                    </form>
                </div>
            </div>

        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>
{% endblock %}