{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="{% static '/css/materia.css' %}">
{% endblock %}

{% block content %}

<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}
    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="d-flex justify-content-between">
                        <h3 class="emain-title">Matérias</h3>
                        <a class="ebuttontiny" href="cadastro/prof_materia_cadastro.html">Cadastrar Matéria</a>
                    </div>

                </div>
                <div class="col-md-4 mb-4">
                    <div class="materia-card">
                        <img class="materia-img mb-3" src="/static/media/logo-rosa-s.png" alt="logo-eduque">
                        <h4>Marketing Digital</h4>
                        <p class="txt-e-black">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <div class="btn-box d-flex justify-content-between">
                            <a class="ebuttontiny" href="aula.html">Iniciar</a>
                            <div>
                                <button type="button" class="btn">
                                    <img src="/static/media/edit.png" alt="logo-eduque">
                                </button>
                                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                    <img src="/static/media/trash.png" alt="logo-eduque">
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Exclusão</h5>
                                                <button type="button" class="btn close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você realmente deseja excluir "Marketing Digital"?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-eduque-normal"
                                                    data-dismiss="modal">Não</button>
                                                <button type="button" class="btn ">Sim</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>

{% endblock %}