{% extends 'shared/aluno_base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="{% static '/css/materia.css' %}">
{% endblock %}

{% block content %}

<section class="corpo">
    {% include 'shared/aluno_navbar.html' %}
    <section class="corpo-main">
        <section class="mains-padding main-section bg-w-color">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="d-flex justify-content-between">
                        <h3 class="emain-title">Matérias</h3>
                        <a class="ebuttontiny" href="{% url 'cadastrar_materia' %}">Cadastrar Matéria</a>
                    </div>

                </div>
                {% for m in materias %}
                <div class="col-md-4 mb-4">
                    <div class="materia-card">
                        <img class="materia-img mb-3" src="{{m.imagem.url}}" alt="logo-eduque">
                        <h4>{{m.titulo}}</h4>
                        <p class="txt-e-black">{{m.descricao}}</p>
                        <div class="btn-box d-flex justify-content-between">
                            <a class="ebuttontiny" href="{% url 'listagem_curso' m.id %}">Iniciar</a>
                            <div>
                                <button type="button" class="btn">
                                    <a href="{% url 'atualizar_materia' m.id %}"><img src="{% static '/media/edit.png' %}" alt="logo-eduque"></a>
                                </button>
                                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                    <a href="{% url 'deletar_materia' m.id %}"><img src="{% static '/media/trash.png' %}" alt="logo-eduque"></a>
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <footer class="bg-w-color main-footer d-flex justify-content-center txt-e-black"><span>2017–2021
                Eduque</span>
        </footer>
    </section>
</section>

{% endblock %}