.capa_inscricao{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 6px;
}

.txt-inscricao{
    font-size: 16px;
    padding-left: 20px;
    max-width: 800px;
}

.inscrito-eduque{
    background-image: linear-gradient(to right, #FAAD96,#F97C90 , #F84988)!important;
    color: #ffffff;
    border-radius: 6px;
    padding: 20px;
}