<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materia</title>
</head>
<body>
    <h1>{{ curso.titulo }}</h1>
    {%for aula in aulas %}
        <p><a href="{{ aula.get_absolute_url }}">{{ aula.titulo }}</a></p>
        <p>{{ aula.descricao }}</p>
        {% if aula.imagem %}
            <p><img src="{{ aula.imagem.url }}" alt=""></p>
        {% endif %}
    {% endfor %}
    <p><a href="{% url 'cadastrar_aula' %}">Cadastrar aula</a></p>
</body>
</html>