<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>pagina inicial - Empressa/Professor </h1>
    <h3>Bem vindo, {{user.username}} - {{user.email}}</h3>
    {% if form %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="atualizar">
        </form>
    {% endif %}
    <h5><a href="{% url 'logout' %}">Logout</a></h5>
</body>
</html>